<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to Build-A-Buddy!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= link_to "Stuffed Animals", stuffed_animals_path %>
      <br/>
      <%= link_to "Accessories", accessories_path %>
    </div>
  </div>
</div>
